.table {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #db7093;
  color: white;
}
.table tr:hover {
  background-color: #faeaef;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;;
}
.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.form_input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  max-width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  text-align: center;
}
